## GENERAL THUNDERSTORMS CONFIG

# MAIN
CONFIG_MALI_KUTF=y
# CONFIG_VISION_UNITTEST is not set
# CONFIG_CRYPTO_TEST is not set
# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_CMA_DEBUGFS is not set
# CONFIG_CMUCAL_DEBUG is not set
# CONFIG_PHY_EXYNOS_DEBUGFS is not set
# CONFIG_PHY_EXYNOS_DP_DEBUGFS is not set
# CONFIG_DEBUG_ATOMIC_SLEEP is not set
# CONFIG_MMC_DW_DEBUG is not set
# CONFIG_TOUCHSCREEN_DUMP_MODE is not set

## ZSMALLOG mapping
# CONFIG_PGTABLE_MAPPING is not set

# COMPRESS SECTION
# CONFIG_RD_BZIP2 is not set
# CONFIG_RD_LZMA is not set
# CONFIG_RD_XZ is not set
# CONFIG_RD_LZO is not set
# CONFIG_RD_LZ4 is not set

## CIFS
CONFIG_CIFS=y
# CONFIG_CIFS_STATS is not set
CONFIG_CIFS_ALLOW_INSECURE_LEGACY=y
# CONFIG_CIFS_WEAK_PW_HASH is not set
# CONFIG_CIFS_UPCALL is not set
# CONFIG_CIFS_XATTR is not set
CONFIG_CIFS_DEBUG=y
# CONFIG_CIFS_DEBUG2 is not set
# CONFIG_CIFS_DEBUG_DUMP_KEYS is not set
# CONFIG_CIFS_DFS_UPCALL is not set
# CONFIG_CIFS_SMB311 is not set
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_MD4=y

## NTFS R/W
CONFIG_NTFS_FS=y
# CONFIG_NTFS_DEBUG is not set
CONFIG_NTFS_RW=y

# TCP/IP
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y

## WAKELOCKS
CONFIG_BOEFFLA_WL_BLOCKER=y

## STORAGE MASS
CONFIG_USB_F_MASS_STORAGE=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_OTG=y

## SAMSUNG MTP - only enable for OneUI
CONFIG_USB_ANDROID_SAMSUNG_MTP=y

## PELT tunables
# CONFIG_PELT_UTIL_HALFLIFE_32 is not set
CONFIG_PELT_UTIL_HALFLIFE_16=y
# CONFIG_PELT_UTIL_HALFLIFE_8 is not set

## TCP
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BIC=y
CONFIG_TCP_CONG_VEGAS=y
CONFIG_TCP_CONG_RENO=y
CONFIG_TCP_CONG_NV=y
CONFIG_TCP_CONG_SCALABLE=y
CONFIG_TCP_CONG_LP=y
CONFIG_TCP_CONG_VENO=y
CONFIG_TCP_CONG_YEAH=y
CONFIG_TCP_CONG_ILLINOIS=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y
CONFIG_TCP_CONG_BBR=y
CONFIG_TCP_CONG_CUBIC=y

## TCP WINDOW 64kb
CONFIG_LARGE_TCP_INITIAL_BUFFER=y

## TTL FILTER - enabled
CONFIG_NETFILTER_XT_TARGET_HL=y
CONFIG_IP_NF_TARGET_TTL=y
CONFIG_IP6_NF_MATCH_HL=y
CONFIG_IP6_NF_TARGET_HL=y

## DISPLAY LOGS
CONFIG_SEC_DEBUG_TSP_LOG=y

## WQ_POWER_EFFICIENT
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y

## DISPLAYPORT_DEX_FORCE_WQHD
CONFIG_DISPLAYPORT_DEX_FORCE_WQHD=y

## USB SERIAL
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_GENERIC=y
# natively support nodemcu/arduino serial console
CONFIG_USB_SERIAL_CP210X=y

## FIPS
# CONFIG_EXYRNG_FIPS_COMPLIANCE is not set
# CONFIG_EXYRNG_FAIL_POLICY_RESET is not set
# CONFIG_CRYPTO_FIPS is not set
# CONFIG_EXYNOS_FMP_FIPS is not set

## FRANDOM
CONFIG_FRANDOM=y

## VM MAX READAHEAD
CONFIG_VM_MAX_READAHEAD=256

## IO Schedulers
CONFIG_IOSCHED_NOOP=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_CFQ=y
CONFIG_DEFAULT_CFQ=y
# CONFIG_DEFAULT_NOOP is not set
CONFIG_DEFAULT_IOSCHED="cfq"
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_IOSCHED_BFQ is not set
